# Public Discord Application ID
DISCORD_CLIENT_ID=1536334841631477772

# PRIVATE. OAuth2 -> Client Secret in Discord Developer Portal
DISCORD_CLIENT_SECRET=PASTE_CLIENT_SECRET_HERE

# PRIVATE. Bot -> Token in Discord Developer Portal
# On Bothost you can also use BOT_TOKEN instead.
DISCORD_TOKEN=PASTE_BOT_TOKEN_HERE

# Bothost usually supplies PORT automatically.
PORT=3000
